<table style="width: 100%;height: 5%;">
<tr>
  
  <td style="width: 70%;background-color:aqua;"> <span style="font-size: 60px;color:
  rgb(147, 147, 158);margin-left: 20%;">
   HOTEL BOOKING APP</span>
   <td style="width: 20%;background-color: rgb(161, 120, 248);">
    <a href="#">login</a>/
    <a href="#" style="margin-left: 10px;"> signup</a>
  </td>
</tr>
</table>

<table style=" width: 100%;height: 16%;background-color: rgb(194, 233, 88);">
  <tr>
    <td style="width: 15%; text-align: center;">  <a routerLink="/transactiondetails">  Transaction Details</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/hotelrooms"> Hotel Rooms</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/bookingdetails"> Booking Details </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/viewTransactionDetails"> View Transaction Details </a>  </td>
  </tr>
</table>
<hr/>
<router-outlet></router-outlet>