<p style="color: red;">Transaction-Detail works!</p>
<h2 style="color: rgb(144, 226, 131); font-style: italic;">{{t.transactionName}} </h2>
<table>
    <tr>
        
        <td> 
            <hr/>
            <span>Amount per Day<span>{{t.amount|currency:'INR'}}     </span>  
                 
                        <b style="color: blue; font-family: Georgia"><u> Recommended</u></b>
                    </span>
            <br/>
            Transaction Date {{t.date}} Days 
           
            
        </td>
        
    </tr>
</table> 